.about-desc {
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.skill {
  margin-left: 1.75rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
  list-style: none;
  text-align: center;
}
.about-image{
  height: auto;
}
.tech-skills{
  padding-bottom: 1.75rem;
}
@media (max-width: 768px) {
  .about-desc {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  .skill {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}
