.content {
  height: 110%;
  min-height: 100vh;
  padding: 1.75rem 0;
  background-color: #7691c0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .16rem;
  font-family: 'Noto Sans JP', sans-serif;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 415px) {
  body {
    background-color: white !important;
  }
  .content {
    padding: 0;
    background-color: white;
  }
  .shadow {
    box-shadow: none;
  }
}
