.contact {
  padding: 2rem;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  margin: auto;
  width:75%
}
.padding {
  padding-bottom: 1.75rem;
}
.submit {
  background-color: #7691c0;
  border-color: #7691c0;
  width: 10rem;
}
.submit:hover {
  background-color: white;
  color:#7691c0;
  border-color: white;
}
.submit:active {
  background-color: #7691c0;
  border-color: #7691c0;
  color: white;
}
.error-msg{
  font-size: .9rem;
  color: red;
}
label {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .link-label {
    display: none;
  }
}
@media (max-width: 992px) {
  .tooltip {
    display: none;
  }
}
@media (max-width: 768px) {
  .jumbotron {
    padding: 1rem;
  }
  .contact {
    width: 100%;
  }
  .recaptcha {
    transform:scale(0.95);
    -webkit-transform:scale(0.95);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
  #rc-imageselect {
    transform:scale(0.95);
    -webkit-transform:scale(0.95);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}
@media screen and (max-height: 575px){
  .recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
  #rc-imageselect {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}
