.qoute{
  font-style: italic;
}

.services-header{
  max-width: 100vw;
  position: inherit;
  left: 0;
}
.info-pic {
  max-width: 40%;
  margin: 40px auto;
}
p, ul, li {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: .07rem;
}
ul, li {
  margin-left: -1rem;
}
.card-desc{
  font-size: 1.5rem;
}
.info-card {
  min-height: 35rem;
}
.card-title {
  letter-spacing: .2rem;
}
.faq {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
.card-header {
  color:white;
  background-color: #7691c0;
}
.service {
  list-style: none;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 768px) {
  .info-card {
    min-height: 20rem;
  }
}
@media (max-width: 1199px) {
  .info-card {
    min-height: 40rem;
  }
}
